@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logOff" }))
    {
        @Html.AntiForgeryToken()
           <ul class="list-unstyled d-flex m-0">
               <li class="mr-3">
                   @Html.ActionLink("Welcome "+ User.Identity.GetUserName(), "EditProfil", "Account")
               </li>
               <li >
                   <a href="javascript:document.getElementById('logOff').submit()">Log Out<i class="fa fa-lock ml-1"></i></a>
               </li>
           </ul>
    }
}
else
{
<div class="login d-inline-block">
    @Html.ActionLink("Hello sign in", "Login", "Account")<i class="fa fa-user ml-1"></i>
</div>
}
